:root{
    --fontInter: "Inter", sans-serif;
    --fontMulish: "Mulish",sans-serif;
    --fontPD: "Playfair Display", serif;
}

*{
    box-sizing: border-box;
 
}

body, html{
    height: 100%;
    overflow-x: hidden;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        color: #202336;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1240px;
    margin: 0 auto;
   
}

ul, ol{
    margin: 0;
    padding: 0;
}




